flask
pandas
plotly
joblib
numpy
openpyxl
xlrd
Werkzeug
flask-cors
langchain
langchain-openai
langchain-community
duckduckgo-search
requests
beautifulsoup4
groq
pandas
openpyxl
instaloader
tweepy
app-store-scraper
requests
pandas